<div class="row" {{action 'showDetails'}}>
  <div class="col-md-1">
    <h1>{{ticket.location}}</h1>
  </div>
  <div class="col-md-2">
    <h1>{{wait-time ticket}}</h1>
  </div>
  <div class="col-md-9">
    <h1>{{ticket.name}}</h1>
  </div>
</div>

{{#if areDetailsShowing}}
  <div class="hiddenTicketDetails">
    <div class="row" {{action 'hideDetails'}}>
      <h2>Issue: {{ticket.issue}}</h2>
    </div>

    <button class="btn btn-warning" {{action 'markAsClosed' ticket}}>Mark as closed</button>
  </div>
{{/if}}
